.bacs {
    height: 100%;
    width: 100%;
    margin-top: 20px;
    display: flex;
}

.plein,
.en-cours,
.vide {
    flex: 1;
    text-align: center;
    margin-right: 2px;
}

.plein h3,
.en-cours h3,
.vide h3 {
    background-color: #009879;
    padding: 8px 10px;
    border-radius: 5px;
    color: white;
}

.en-cours h3 {
    background-color: orange;
}

.plein h3 {
    background-color: red;
}

.items {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
}